html, body {
    height: 100%;
    margin: 0;
}
.menu-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.menu-gif-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.menu-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-content {
    position: relative;
    z-index: 1; 
    text-align: center;
    font-size: 30px;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(102, 101, 102, 0.534); }
}
.menu-content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(187, 186, 186, 0.349);
}
.menu-content button:hover {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(36, 35, 35, 0.349);
}
.menu-content button:active {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(187, 186, 186, 0.349);
}
.game-board {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #333;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('art-material/b1.gif'); 
    background-size: cover;
    filter: blur(5px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #333;
    position: relative; 
}

.cell img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 80%; 
    max-height: 80%; 
    display: none; 
}

.cell:hover {
    background-color: #f0f0f04d;
}
.cell:active {
    background-color: #f0f0f077;
}